
<ol>
    <div class="row">
        <li *ngFor="let news of newsList | paginate: {
            id: 'listing_paination',
            itemsPerPage: 10,
            currentPage: page,
            totalItems: totalRecords
        }" class="col-md-4 news-item d-flex align-items-center">
            <news-card [news]="news" ></news-card>
        </li>
    </div>
</ol>
<pagination-controls 
    id="listing_paination" 
    maxSize="5" 
    directionLinks="true"
    (pageChange)="page = $event"></pagination-controls>
