@import "/src/assets/styles/abstracts/functions";
@import "/src/assets/styles/abstracts/variables";
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100px;
  h1 {
    //font-size: rem(13.3333px);
    color: $black;
    display: inline-block;
  }
}
