@import "/src/assets/styles/abstracts/functions";
@import "/src/assets/styles/abstracts/variables";
nav {
  display: inline-block;
  min-height: 50px;
  ul {
    list-style: none;
    padding: 0;
    li {
      display: inline-block;
      padding: 0 rem(7px);
      //&:not(:last-child) {
        //border-right: 1px solid black;
      //}
    }
    li:over{
      text-decoration: none !important;
    }
  }
}
