<nav class="container-fluid">
    <ul class="d-flex justify-content-between">
        <li *ngFor="let navLink of navLinks">
            <a href="{{ navLink.link }}">{{navLink.name}}</a>
        </li>
    </ul>
</nav>